<html>
<title></title>
<head>

</head>
<body>


Dash: <br><br>

Hi, <%= user.username %>! <br>
<a href="/settings"> Settings</a> <br>
<a href="/signout">Sign out</a><br>
<a href="/search"> Search for non-private users (not yet functional).</a>

</body>
</html>