<html>
<title></title>
<head>
</head>
<body>


Change Password: 
<br>
<br>
<form action="/settings" method="post" >
    
    Old Password: 
    <br>
    <input type="password" name="oldPassword" id="oldPassword">
    <br>
    
    New Password: 
    <br>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <br>
    <input type="submit" id="submit" value="Update" name="submit">
</form>

</body>
</html>