<html>
<title></title>
<head>
</head>
<body>


Change Password: 
<br>
<br>
<form action="/settings" method="post" >
    
    Old Password: 
    <br>
    <input type="password" name="oldPassword" id="oldPassword">
    <br>
    
    New Password: 
    <br>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <br>
Privacy Level (not functional yet) Need to load settings with the correct button checked: 
<br>
<br>
  
  <input type="radio" name="privacy" value="one"> Level One<br>
  <input type="radio" name="privacy" value="two"> Level Two<br>
  <input type="radio" name="privacy" value="deactivate"> Deactivate 
  <br>
  <br> 
  <input type="submit" id="submit" value="Change Privacy" name="submit">  
  
</form>

Remove Friend Coming soon: 


</body>
</html>