<html>
<title></title>
<head>
</head>
<body>


User: 
<br>
<br>

<a href="/search"> Search for non-private users here</a>

This is <%= user %>. <br>
<br>
Add User: 

<br>
<form action="/requestFriend" method="post" >
    <input type="hidden" name="username" value="<%=user%>">
    <input type="submit" id="submit" value="Request Friend" name="submit">
</form>





</body>
</html>