<html>
<title></title>
<head>
</head>
<body>


User: 
<br>
<br>

<a href="/search"> Search for non-private users here</a>

Add User: 
<br>
<br>
<form action="/user" method="post" >
    <input type="submit" id="submit" value="SignIn" name="submit">
</form>


</body>
</html>